*{
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-image: url(./images/background.jpg);
}

.upper-bar{
    min-height: 10vh;
    background: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-button{
    margin-left: 1.5vh;
    transition: transform 0.7s ease 0s;
}

.tab-name{
    margin-right: 1.5vh;
    margin-left: 1.5vh;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vh;
    margin-left: 1.5vh;
}


.upper-bar div{
    color: #d1c4e9;
    font-size: 1.5rem;

}

.upper-bar-pfp{
    height: 7vh;
    width: 7vh;
    transition: transform 0.2s ease 0s;
    margin-right: 2vh;
    border-radius: 50%
}

.upper-bar-pfp:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.upper-scaleZ{
    transition: transform 0.2s ease 0s;
}

.upper-scaleZ:hover{
    cursor: pointer;    
    transform: scale(1.3);
}

.nav-button:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.panel-holder{
    position: absolute;
    left: -30vh;
    height: 90vh;
    width: 30vh;
    z-index: 1000;
    background: #d1c4e9;
    transition: transform 0.7s ease 0s;
}

.nav-panel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-panel>div{
    min-height: 10vh;
}

.profile-panel{
    position: absolute;
    left: 2vh;
    bottom: 2vh;
}

.nav-panel>div:hover{
    cursor: pointer;
    color: #d1c4e9;
    background: #333333;
}

.panel-holder.transformed{
    transform: translateX(30vh);
}
  
.nav-button.transformed{
    transform: translateX(23vh) rotateZ(180deg);
    color: white;
}

.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-container{
    max-width: 100vw;
    height: 80vh;
    position: absolute;
    top: 15vh;
    left: 1vh;
    right: 1vh;
    transition: transform 0.2s ease 0s;
    overflow: hidden;
}
.home-content-container{
    display: none;
    overflow-x:scroll;
    scrollbar-color: #333333 #999999;
}

.home-text{  
background: #E0E0E0  ;
color: black;
display: flex;
flex-direction: column;
align-content:space-around ;
position: relative;
font-size: 1.1rem;
min-width: 70vw;
}

.home-text div{
    margin: 10px;
    color: #333333;
}
.home-footer{
position: absolute;
bottom: 10px;
}
.intro-container{
    display: flex;
    font-weight: bold;
}
.home-pfp>img{
    height: 100%;
}
.home-hi{
    transform: rotate(-60deg);
    font-size: 20px;
    display: none;
}

.home-hi.wave{
    display: block;
    animation: wave 1.6s ease 1s;
    
}

.skills-content-container{
    background: rgba(51, 51, 51,0.5);
    overflow: scroll;
    scrollbar-color: #d1c4e9 #333333;
    
}

.skillsTab-content{
    background-color: white;
}

.skillsTab-container{
    display: flex;
    justify-content: space-evenly;
    background: rgba(51, 51, 51,0.5);
    font-size: 1.5rem;
    color: white;
    padding: 4px;
    font-weight: bold;

}

.skills-tab:hover{
    cursor: pointer;
}

.skillsTab-content{
    display: none;
}

.skillsTab-content>div{
    border: solid 1px;
    height: 35vh;
}

.skill-content-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 1vh;
    color: black;
    background:  #D6CBEF;
    border: 1px 1px 0px 1px solid;
    max-height: 200vh;
}

.skill-content-heading *{
    margin: 0px 10px 0px 10px;
}

#languages-known-content>div{
    display: flex;
    max-height: 6vh;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: rgba(0, 0, 50,0.8);
}

#languages-known-content>div:hover{
    color: rgba(255, 255, 255,1);
    background: #333333;
    cursor: pointer;
}

.language-content-margin>*{
    margin: 0px 20px 0px 20px;
}

.skillsTab-content{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(1fr,2fr));
}

@keyframes wave {
    50%{
      transform: rotate(60deg);
    }
  
    100%{
      transform: rotate(-60deg);
    }
  }


@media(max-width:1152px){
    .content-container{

    }
    .home-text{
        font-size: 1rem;
    }
    .panel-holder{
        width: 27vh;
    }
    .all-heading{
        font-size:1.35rem ;
    }
    #languages-known-content>div{
        height: 5vh;
    }
    .languages-known-images{
        width: 23px;
    }


}

@media(max-width:1024px){
    .content-container{

    }
}

@media (max-width:950px){

.nav-button.transformed{
    transform: translateX(13vh) rotateZ(180deg);
}

.content-container{

}

.all-text{
    font-size: 1rem;
}
.panel-holder{
    width: 22vh;
}

}




@media (max-width:720px){
    .upper-bar{
        min-height: 7vh;
    }
    
    .upper-bar div{
        font-size: 1.3rem;
    }

    .upper-bar-pfp{
        height: 5.2vh;
        width: 5.2vh;
        border-radius: 50%
    }

    .panel-holder{
        height: 93vh;
    }
    .nav-panel>div{
        min-height: 7vh;
        font-size: 0.7rem;
    }
    .nav-button.transformed{
        transform: translateX(10vh) rotateZ(180deg);
    }

    .content-container{
       top: 10vh;
    }

    .all-heading{
        font-size: 1.1rem;
    }
    #languages-known-content>div{
        height: 4vh;
    }
    .languages-known-images{
        width: 21px;
    }
   


    }   

@media (max-width:640px){
    .upper-bar{
        min-height: 5vh;
        }
            
    .upper-bar div{
        font-size: 0.9rem;
    }
    .upper-bar-pfp{
        height: 3.5vh;
        width: 3.5vh;
        border-radius: 50%
    }

    .panel-holder{
        height: 95vh;
    }
    .nav-panel>div{
        min-height: 5vh;
        font-size: 0.6rem;
    }
    .nav-button.transformed{
        transform: translateX(1vh) rotateZ(180deg);
    }

    .content-container{
        top:9vh;
    }

    .all-text{
        font-size: 0.9rem;
    }

    .home-pfp{
        
    }
    
    .all-heading{
        font-size: 1rem;
    }
    #languages-known-content>div{
        height: 3vh;
    }
    .languages-known-images{
        width: 19px;
    }
   

    }
   
    @media (max-width:480px) {
        .content-container{

        }

        .all-text{
            font-size: 0.8rem;
        }

        .panel-holder{
            width: 14vh;
        }
        .all-heading{
            font-size: 0.8rem;
        }
        #languages-known-content>div{
            height: 2vh;
        }
        .languages-known-images{
            width: 15px;
        }
    
        
    }
    

     

   

